	<div class="footer col-xs-12">
		<!-- <p>如果想提出功能问题或意见建议，请到意见反馈；如果您要举报侵权或违法信息，请到投诉中心；</p> -->
		<div class="box auto">
			<a class="fl icon" href="/"></a>
			<div class="auto txtBox">
				<p class="mt5"><span>备案信息：</span>AAAAAAAAAAA</p>
				<p><span>开发者：</span>xiekai</p>
				<p><span>联系方式：</span>285985285@qq.com</p>
			</div>
		</div>
	</div>
</div>
<!-- begin javascript -->
<% js.forEach(function(item){ %>
	<script src="<%= item %>"></script>
<% }); %>
<!-- <script type="text/javascript"></script> -->
<!-- end javascript -->

</body>
<!-- end body -->

</html>
<!-- end html -->